{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SEO Meta Tags -->
    <meta
      name="description"
      content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users."
    />
    <meta name="author" content="Inovatik" />

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Sign Up - Ecommerce Online Shop</title>

    <!-- Styles -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'assets/bundles/izitoast/css/iziToast.min.css' %} ">

    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %} " />
    <link
      href="{% static 'login_css/css/bootstrap.css'  %} "
      rel="stylesheet"
    />
    <link
      href="{% static 'login_css/css/fontawesome-all.css'  %}"
      rel="stylesheet"
    />
    <link href="{% static 'login_css/css/swiper.css'%} " rel="stylesheet" />
    <link
      href="{% static 'login_css/css/magnific-popup.css'  %}"
      rel="stylesheet"
    />
    <link href="{% static 'login_css/css/styles.css'  %} " rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %} " />


    <!-- Favicon  -->
    <link rel="icon" href="{% static 'login_css/images/favicon.png' %} " />
    
  </head>
  <body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- end of preloader -->

    <!-- Header -->
    <header id="header" class="ex-2-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Sign Up</h1>
            <!-- Sign Up Form -->
            <div class="form-container">
              <form id="signUpForm" data-toggle="validator" data-focus="false">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control-input"
                    id="user_name"
                    required
                  />
                  <label class="label-control" for="user_name">Username</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control-input"
                    id="user_email"
                    required
                  />
                  <label class="label-control" for="user_email">Email</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input
                    type="tel"
                    class="form-control-input"
                    id="user_phone"
                    required
                  />
                  <label class="label-control" for="user_phone">Phone</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control-input"
                    id="user_addr"
                    required
                  />
                  <label class="label-control" for="user_addr">Address</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control-input"
                    id="user_pass"
                    required
                  />
                  <label class="label-control" for="user_pass">Password</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <button
                    type="button"
                    onclick="sign_up()"
                    class="form-control-submit-button"
                  >
                    SIGN UP
                  </button>
                </div>
                <div class="form-message">
                  <div id="smsgSubmit" class="h3 text-center hidden"></div>
                </div>
              </form>
            </div>
            <p>
              Fill out the form below to sign up for Tivo. Already signed up?
              Then just <a class="white" href="/">Log In</a>
            </p>
            <!-- end of form container -->
            <!-- end of sign up form -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </header>
    <!-- end of ex-header -->
    <!-- end of header -->

    <!-- Scripts -->
    <script src="{% static 'login_css/js/jquery.min.js'  %} "></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'login_css/js/popper.min.js'  %} js/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'login_css/js/bootstrap.min.js'  %} "></script>
    <!-- Bootstrap framework -->
    <script src="{% static 'login_css/js/jquery.easing.min.js'  %} "></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'login_css/js/swiper.min.js'  %}"></script>
    <!-- Swiper for image and text sliders -->
    <script src="{% static 'login_css/js/jquery.magnific-popup.js'  %} "></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'login_css/js/validator.min.js'  %} "></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static 'login_css/js/scripts.js'  %} "></script>
    <!-- Custom scripts -->
    <script src="{% static 'assets/bundles/sweetalert/sweetalert.min.js' %} "></script>
    <script src="{% static 'assets/js/page/sweetalert.js' %} "></script>
    <script src="{% static 'assets/js/scripts.js' %} "></script>
    <script src="{% static 'assets/js/custom.js' %} "></script>
    <script src="{% static 'assets/bundles/izitoast/js/iziToast.min.js' %} "></script>
    <script src="{% static 'assets/js/page/toastr.js' %} "></script>

    <script type="text/javascript">
      function sign_up() {
        var user_name = $("#user_name").val();
        var user_email = $("#user_email").val();
        var user_phone = $("#user_phone").val();
        var user_addr = $("#user_addr").val();
        var user_pass = $("#user_pass").val();

        if (user_name == "") {
          iziToast.show({
            title: "User name Invalid",
            message: "! Shop More With Trend",
            position: "bottomLeft",
          });
        } else if (user_email == "") {
          iziToast.show({
            title: "User Email Invalid",
            message: "! Shop More With Trend",
            position: "bottomLeft",
          });
        } else if (user_phone == "") {
          iziToast.show({
            title: "Phone Number Invalid",
            message: "! Shop More With Trend",
            position: "bottomLeft",
          });
        } else if (user_addr == "") {
          iziToast.show({
            title: "Address Invalid",
            message: "! Shop More With Trend",
            position: "bottomLeft",
          });
        } else if (user_pass == "") {
          iziToast.show({
            title: "Password Invalid",
            message: "! Shop More With Trend",
            position: "bottomLeft",
          });
        } else {
          $.ajax({
            method: "POST",
            url: "/signup_handle/",
            data: {
              user_name,
              user_email,
              user_phone,
              user_addr,
              user_pass,
            },
            success: function (response) {
              if (response == "0") {
                swal(
                  "User Register Successfully",
                  "You clicked the button!",
                  "success"
                );
                location.href = "/login";
              } else {
                swal("Try Again Later", "You clicked the button!", "error");
              }
            },
          });
        }
      }
    </script>
  </body>
</html>
